.wrapperMain {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0;
    border: 5px solid black;
    margin: auto;
    width: 800px;
    height: 800px;
}

.wrapperP {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.TimeP {
    margin-top: 267px;
}

.PercentP {
    margin-top: 267px;
}

.wrapperInputs {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#Summ {
    padding: 5px;
    margin: 5px;
}

#Time {
    padding: 5px;
    margin: 5px;
    margin-top: 267px;
}

#Percent {
    padding: 5px;
    margin: 5px;
    margin-top: 267px;
}

.button {
    margin: auto;
    width: 142px;
    height: 75px;
    background: transparent;
    margin-top: 30px;
    text-transform: uppercase;
    border: 4px solid;
    color: black;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}
.buttonNad{
    text-align: center;
}