.wrapperMain {
    background-image: url(./vtv.jpg);
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0;
    border: 5px solid black;
    margin: auto;
    width: 800px;
    height: 800px;
}

.wrapperP {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.TimeP {
    margin-top: 267px;
}

.PercentP {
    margin-top: 267px;
}

.wrapperInputs {
    width: 400px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#Summ {
    padding: 5px;
    margin: 5px;
}

#Time {
    padding: 5px;
    margin: 5px;
    margin-top: 267px;
}

#Percent {
    padding: 5px;
    margin: 5px;
    margin-top: 267px;
}

.button {
    width: 500px;
    height: 50px;
   margin: auto;
    background-image: url(./vtv.jpg);
    margin-top: 30px;
    text-transform: uppercase;
    border: 4px solid;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}

.buttonNad {
    text-align: center;
}

body {
    background: pink;
}
.button1 {
    width: 500px;
    height: 50px;
    margin: auto;
    background-image: url(./vtv.jpg);
    margin-top: 30px;
    text-transform: uppercase;
    border: 4px solid;
    color: black;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}
.buttonNad1 {
    text-align: center;
}
.buttons{
display: flex;
}
#Table{
    border: 1px solid black;
    opacity: 0;
    margin: auto;
    margin-top: 10px;
    border-collapse: collapse;
    background-image: url(./vtv.jpg);
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
